{% extends "base.html" %}

{% block content %}
    <!-- {{block.super}} -->
<div class="row">
    {%for obj in object_list %}
        <!-- {{obj.id}}
        <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
        {{obj.content | truncatechars:10}}
        {{obj.updated}}
        <br/> -->


            <div class = "col-sm-6">
               <div class = "thumbnail">
                  <div class = "caption">
                    {% if obj.image %}
                        <img src="{{ obj.image.url }}" class="img-responsive"/>
                    {% endif %}
                     <h3>
                        <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
                        <small>{{ obj.timestamp|timesince}}</small>
                     </h3>
                     <p>{{obj.content | linebreaks | truncatechars:20}}</p>
                     <p>
                        <a href = "{{ obj.get_absolute_url }}" class = "btn btn-primary" role = "button">
                           view
                        </a>
                     </p>
                  </div>
               </div>
            </div>
        {% cycle "" "" "" "</div><hr/><div class='row'>" %}
    {%endfor%}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_req_var }}=1">&laquo; first</a>
                <a href="?{{ page_req_var }}={{ object_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
    
            {% if object_list.has_next %}
                <a href="?{{ page_req_var }}={{ object_list.next_page_number }}">next</a>
                <a href="?{{ page_req_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock content %}


<!-- <html>
<head>
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <ul>
            {% for msg in messages %}
                <li {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {%for obj in object_list %}
        {{obj.id}}
        <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
        {{obj.content}}
        {{obj.updated}}
        <br/>
    {%endfor%}
</body>
</html> -->